li {
  outline: 2px solid black;
  padding:5px;
  margin: 5px;
}

.idea-input {
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  outline: 2px solid black;
}

header {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
}
